{{ define "main" }}
<div class="content-body">
    <h1>{{ .Title }}</h1>
    <div class="row">
        <div class="col-12 col-xl-9">
            <!-- Display the index page content -->
            {{ .Content }}

            <!-- Display the glossary terms -->
            <div class="glossary-terms">
                {{ range .Pages }}
                    <div class="glossary-term">
                        <div class="term-name" id="{{ .File.BaseFileName }}">
                            <h3>
                                {{ .Title }}
                                <small>
                                    <a href="{{ .RelPermalink }}" class="term-link" aria-label="Full definition of {{ .Title }}">
                                        <svg width="20px" height="20px"><use xlink:href="#link"/></svg>
                                    </a>
                                </small>
                            </h3>
                        </div>
                        <div class="term-description">
                            <p>{{ .Params.description }}</p>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<!-- Right sidebar TOC -->
<div class="right-sidebar-toc offcanvas-xl offcanvas-end" tabindex="-1"
id="right-nav-offcanvas" aria-labelledby="right-nav-offcanvas">
    <nav class="toc float-end" aria-label="Page table of contents">
        <div class="border-container">
            <div class="on-this-page">On this page</div>
            <nav id="TableOfContents">
                <ul class="nav flex-column">

                    {{ range .Pages }}
                        <li class="nav-item">
                            <a class="nav-link" href="#{{ .File.BaseFileName }}">{{ .Title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </nav>
</div>
{{ end }}