---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: controllerruntimeconfigs.pkg.upbound.io
spec:
  group: pkg.upbound.io
  names:
    categories:
    - upbound
    kind: ControllerRuntimeConfig
    listKind: ControllerRuntimeConfigList
    plural: controllerruntimeconfigs
    singular: controllerruntimeconfig
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          An ControllerRuntimeConfig provides settings for configuring runtime of a
          controller package.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ControllerRuntimeConfigSpec specifies the configuration of
              an ControllerRuntimeConfig.
            properties:
              helm:
                description: HelmConfigSpec defines the Helm-specific configuration
                  for a controller runtime.
                properties:
                  values:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
