registry=https://registry.npmjs.org/
cache-verify=true
legacy-peer-deps=true
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# npmjs registry for @upbound packages
@upbound:registry=https://registry.npmjs.org
