<div class="row footer-content border-top">
    <div class="col-3 footer-brand">
        <img loading="lazy" src="/img/logos/upbound-grey.svg" height="21" width="85" alt="Upbound">
        <div class="pt-3">
            Crafted with love from our globally distributed team.
        </div>
        <div class="pt-3">&copy; {{ now.Format "2006"}} Upbound, Inc.</div>
        <div class="row pt-3 row-cols-auto">
            <div class="col">
                <a href="https://twitter.com/upbound_io">{{partial "icons/twitter.svg" }}</a>
            </div>
            <div class="col">
                <a href="https://www.github.com/upbound/">{{partial "icons/github.svg" }}</a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/company/upbound-io/">{{partial "icons/linkedin.svg" }}</a>
            </div>
            <div class="col">
                <a href="https://www.youtube.com/channel/UCm_v2HL0pdqtShHD-ZDDTaA">{{partial "icons/youtube.svg" }}</a>
            </div>
        </div>
    </div>

    <div class="col footer-links footer-col-1 ms-5">
        <div class="footer-heading">Product</div>
        <div class="py-2"><a href="https://www.upbound.io/products/universal-cloud-platform">Upbound Cloud</a></div>
        <div class="py-2"><a href="https://www.upbound.io/products/universal-crossplane">Universal Crossplane</a></div>
        <div class="py-2"><a href="https://marketplace.upbound.io/">Marketplace</a></div>
        <div class="py-2"><a href="https://www.upbound.io/contact">Request Demo</a></div>
        <div class="py-2"><a href="https://www.upbound.io/partners">Partner Program</a></div>
    </div>

    <div class="col footer-links footer-col-2">
        <div class="footer-heading">Learn</div>
        <div class="py-2"><a href="https://docs.upbound.io">Documentation</a></div>
        <div class="py-2"><a href="https://www.upbound.io/faq">FAQs</a></div>
        <div class="py-2"><a href="https://status.upbound.io/">System Status</a></div>
    </div>


    <div class="col footer-links footer-col-3">
        <div class="footer-heading">Company</div>
        <div class="py-2"><a href="https://www.upbound.io/about">About Us</a></div>
        <div class="py-2"><a href="https://boards.greenhouse.io/upbound">Careers</a></div>
        <div class="py-2"><a href="https://blog.upbound.io/">Blog</a></div>
        <div class="py-2"><a href="https://www.upbound.io/contact">Contact Us</a></div>
    </div>

    <div class="col footer-links footer-col-4">
        <div class="footer-heading">More</div>
        <div class="py-2"><a href="https://www.upbound.io/terms">Terms & Conditions</a></div>
        <div class="py-2"><a href="https://www.upbound.io/privacy">Privacy Policy</a></div>
    </div>

</div>