{{- $indent := .indent | default 0 -}}

{{- range $key, $value := .map -}}
  {{- $isMap := reflect.IsMap $value -}}
  {{- $isSlice := reflect.IsSlice $value -}}
  <div style="padding-left: {{ mul $indent 20 }}px;">
    <strong>{{ $key }}:</strong>
    {{ if $isMap }}
      {{ partial "display-map" (dict "map" $value "indent" (add $indent 1)) }}
    {{ else if $isSlice }}
      <ul>
        {{ range $value }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    {{ else }}
      {{ $value }}
    {{ end }}
  </div>
{{- end -}}