// Light mode specific color variables

@mixin light-mode {
    // body and content
    --body-background: white;
    --body-font-color: rgba(52, 58, 64, 1);
    --content-link-color: #{$up-purple-400};

    --home-resource-bg: #{$up-grey-100};

    // Single code lines inside text. Code blocks are in _code_theme_light.scss
    --code-background: #e9ecef;
    --code-color: #505a72;
    --code-line-number-color: #8bcbe6;

    // Code theme customizations
    --code-line-numbers-background-color: #{lighten(#19212C, 3)};

    .chroma {
        background-color: inherit;
    }
}