// Styling related to the left-side global navigation

// Custom modifications to built-in bootstrap tooling for the left-hand-nav
// .left-sidebar-nav 

.left-sidebar-nav{
    grid-area: left-sidebar-nav;

    flex-grow: 1 !important;

    @include media-breakpoint-down(xl) {
        margin-top: 78px;
    }

    &.offcanvas-xl {
        background: #{$up-neutral-0} !important;
    }
}

