// Styling related to the left-side global navigation

// Custom modifications to built-in bootstrap tooling for the left-hand-nav/a
#left-nav-menu {
    // overflow: scroll;
    // height: 100vh;
    position: sticky;
    top: 40px;
}

.left-sidebar-nav{
    grid-area: left-sidebar-nav;

    flex-grow: 1 !important;

    @include media-breakpoint-down(xl) {
        margin-top: 65px;
    }

    &.offcanvas-xl {
        background: #{$up-neutral-0} !important;
    }

    .left-offset {
        min-width: 28px;
    }
}

