// Global Upbound styling variables

$bd-callout-variants: info, warning, danger !default;

$font-family-sans-serif:      "Avenir-Roman", "Avenir" !default;
$font-family-monospace:       "Consolas" !default;
$line-height-base:            1.5 !default;
$font-size-root:              16px !default;
$font-size-base:              1rem !default;

$body-font-size:              16px !default;
$body-line-height:            24px !default;

$up-code-font-size:           14px !default;
$up-code-line-height:         21px !default;

$up-purple-50:          #F5EEFE !default;
$up-purple-100:         #F5EEFE !default;
$up-purple-200:         #E1CEFE !default;
$up-purple-300:         #AF7EFD !default;
$up-purple-400:         #7D4CD1 !default;
$up-purple-500:         #402A7B !default;
$up-purple-600:         #21194F !default;

$up-grey-100:           #F8F9F9 !default;
$up-grey-200:           #F2F2F4 !default;
$up-grey-300:           #E5E6E9 !default;
$up-grey-400:           #ECEDEF !default;
$up-grey-500:           #9A9CA7 !default;

$up-neutral-0:          #FFFFFF !default;
$up-neutral-50:         #F2F2F4 !default;
$up-neutral-100:        #E5E6E9 !default;
$up-neutral-200:        #CDCDD3 !default;
$up-neutral-400:        #9A9CA7 !default;
$up-neutral-600:        #686A7C !default;

$borderDark:            #353950 !default;

$font-color-dark:       #030724 !default;
$font-color-light:      #686A7C !default;

$body-font-weight:        normal !default;
$body-min-width:          20rem !default;

$color-admonition-background: transparent;


:root {
  font-size: $font-size-root;
  --bs-body-color: #{$font-color-dark};
  letter-spacing: 0.33px;
  scroll-behavior: smooth;
}