up-blue-25: #F4FAFE;
up-blue-50: #E9F4FE;
up-blue-75: #DEF0FE;
up-blue-100: #D3EAFD;
up-blue-150: #BCDFFB;
up-blue-200: #A6D5FA;
up-blue-300: #7AC0F8;
up-blue-400: #4DABF5;
up-blue-500: #2196F3;
up-blue-600: #1B79C9;
up-blue-700: #155DA0;
up-blue-800: #0F4077;
up-blue-850: #0C3262;
up-blue-900: #09244E;
up-blue-950: #061538;

up-green-25: #F6FBF6;
up-green-50: #EDF7ED;
up-green-75: #E4F3E5;
up-green-100: #DBEFDC;
up-green-150: #C9E7CA;
up-green-200: #B7DFB9;
up-green-300: #94CF96;
up-green-400: #70BF73;
up-green-500: #4CAF50;
up-green-600: #3E8D47;
up-green-700: #2F6C3E;
up-green-800: #204A36;
up-green-850: #193A31;
up-green-900: #11292D;
up-green-950: #0B1828;

up-lime-100: #EBF1D9;
up-lime-200: #D7E4B4;
up-lime-300: #C3D68E;
up-lime-400: #AFC969;
up-lime-500: #9BBB43;
up-lime-600: #7D973D;
up-lime-700: #5E7336;
up-lime-800: #404F31;
up-lime-900: #212B2A;

up-neutral-0: #FFFFFF;
up-neutral-25: #F8F9F9;
up-neutral-50: #F2F2F4;
up-neutral-75: #ECEDEF;
up-neutral-100: #E5E6E9;
up-neutral-1000: #030724;
up-neutral-150: #D9DADE;
up-neutral-200: #CDCDD3;
up-neutral-300: #B3B4BD;
up-neutral-400: #9A9CA7;
up-neutral-500: #818391;
up-neutral-600: #686A7C;
up-neutral-700: #4E5165;
up-neutral-800: #353950;
up-neutral-850: #292C45;
up-neutral-900: #1C1F39;
up-neutral-950: #10142F;

up-orange-25: #FEF9F5;
up-orange-50: #FDF3EB;
up-orange-75: #FDEDE1;
up-orange-100: #FCE7D7;
up-orange-150: #FADAC2;
up-orange-200: #F9CFAE;
up-orange-300: #F5B686;
up-orange-400: #F29E5D;
up-orange-500: #EF8635;
up-orange-600: #C06C31;
up-orange-700: #90532E;
up-orange-800: #623A2B;
up-orange-850: #4A2D29;
up-orange-900: #322128;
up-orange-950: #1B1325;

up-purple-25: #FAF6FE;
up-purple-50: #F5EEFE;
up-purple-75: #F0E7FF;
up-purple-100: #EBDFFE;
up-purple-150: #E1CEFE;
up-purple-200: #D7BFFE;
up-purple-300: #C39EFD;
up-purple-400: #AF7EFD;
up-purple-500: #9B5EFC;
up-purple-600: #7D4CD1;
up-purple-700: #5E3BA5;
up-purple-800: #402A7B;
up-purple-850: #312165;
up-purple-900: #21194F;
up-purple-950: #130F39;

up-red-25: #FEF5F5;
up-red-50: #FEECEB;
up-red-75: #FEE3E1;
up-red-100: #FDD9D7;
up-red-150: #FBC6C2;
up-red-200: #FBB4AF;
up-red-300: #F88E86;
up-red-400: #F6695E;
up-red-500: #F44336;
up-red-600: #C43732;
up-red-700: #932B2E;
up-red-800: #641F2C;
up-red-850: #4B1929;
up-red-900: #331328;
up-red-950: #1B0D25;

up-teal-100: #D7ECEC;
up-teal-200: #AFDADA;
up-teal-300: #87C7C7;
up-teal-400: #5FB5B5;
up-teal-500: #37A2A2;
up-teal-600: #2D8389;
up-teal-700: #22646F;
up-teal-800: #184557;
up-teal-900: #0D263D;

up-yellow-25: #FEFCF5;
up-yellow-50: #FDF9EB;
up-yellow-75: #FCF7E1;
up-yellow-100: #FBF4D7;
up-yellow-150: #F8EEC2;
up-yellow-200: #F7E9AE;
up-yellow-300: #F2DE86;
up-yellow-400: #EED35D;
up-yellow-500: #EAC835;
up-yellow-600: #BCA131;
up-yellow-700: #8D7B2E;
up-yellow-800: #60542B;
up-yellow-850: #484129;
up-yellow-900: #312E28;
up-yellow-950: #131927;