---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: sharedtelemetryconfigs.observability.spaces.upbound.io
spec:
  group: observability.spaces.upbound.io
  names:
    categories:
      - observability
    kind: SharedTelemetryConfig
    listKind: SharedTelemetryConfigList
    plural: sharedtelemetryconfigs
    shortNames:
      - stc
    singular: sharedtelemetryconfig
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .metadata.annotations.sharedtelemetryconfig\.internal\.spaces\.upbound\.io/selected
          name: Selected
          type: string
        - jsonPath: .metadata.annotations.sharedtelemetryconfig\.internal\.spaces\.upbound\.io/failed
          name: Failed
          type: string
        - jsonPath: .metadata.annotations.sharedtelemetryconfig\.internal\.spaces\.upbound\.io/provisioned
          name: Provisioned
          type: string
        - jsonPath: .status.conditions[?(@.type=='Validated')].status
          name: Validated
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: SharedTelemetryConfig defines a telemetry configuration over a set of ControlPlanes.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: SharedTelemetryConfigSpec defines a telemetry configuration over a set of ControlPlanes.
              properties:
                controlPlaneSelector:
                  description: |-
                    ControlPlaneSelector defines the selector for ControlPlanes on which to
                    configure telemetry.
                  properties:
                    labelSelectors:
                      description: |-
                        A resource is matched if any of the label selector matches.
                        In case when the list is empty, resource is matched too.
                      items:
                        description: |-
                          A label selector is a label query over a set of resources. The result of matchLabels and
                          matchExpressions are ANDed. An empty label selector matches all objects. A null
                          label selector matches no objects.
                        properties:
                          matchExpressions:
                            description: matchExpressions is a list of label selector requirements. The requirements are ANDed.
                            items:
                              description: |-
                                A label selector requirement is a selector that contains values, a key, and an operator that
                                relates the key and values.
                              properties:
                                key:
                                  description: key is the label key that the selector applies to.
                                  type: string
                                operator:
                                  description: |-
                                    operator represents a key's relationship to a set of values.
                                    Valid operators are In, NotIn, Exists and DoesNotExist.
                                  type: string
                                values:
                                  description: |-
                                    values is an array of string values. If the operator is In or NotIn,
                                    the values array must be non-empty. If the operator is Exists or DoesNotExist,
                                    the values array must be empty. This array is replaced during a strategic
                                    merge patch.
                                  items:
                                    type: string
                                  type: array
                                  x-kubernetes-list-type: atomic
                              required:
                                - key
                                - operator
                              type: object
                            type: array
                            x-kubernetes-list-type: atomic
                          matchLabels:
                            additionalProperties:
                              type: string
                            description: |-
                              matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                              map is equivalent to an element of matchExpressions, whose key field is "key", the
                              operator is "In", and the values array contains only "value". The requirements are ANDed.
                            type: object
                        type: object
                        x-kubernetes-map-type: atomic
                      type: array
                    names:
                      description: |-
                        A resource is selected if its metadata.name matches any of the provided names.
                        In case when the list is empty, resource is matched too.
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: set
                  type: object
                  x-kubernetes-validations:
                    - message: either names or a labelSelector must be specified
                      rule: (has(self.labelSelectors) || has(self.names)) && (size(self.labelSelectors) > 0 || size(self.names) > 0)
                exportPipeline:
                  description: |-
                    ExportPipeline defines the telemetry exporter pipeline to configure on
                    the selected ControlPlanes.
                  properties:
                    logs:
                      description: |-
                        Logs defines the logs exporter pipeline to configure on the
                        selected ControlPlanes. The value has to be present in the
                        spec.exporters field.
                      items:
                        type: string
                      maxItems: 10
                      type: array
                    metrics:
                      description: |-
                        Metrics defines the metrics exporter pipeline to configure on the
                        selected ControlPlanes. The value has to be present in the
                        spec.exporters field.
                      items:
                        type: string
                      maxItems: 10
                      type: array
                    traces:
                      description: |-
                        Traces defines the traces exporter pipeline to configure on the
                        selected ControlPlanes. The value has to be present in the
                        spec.exporters field.
                      items:
                        type: string
                      maxItems: 10
                      type: array
                  type: object
                exporters:
                  description: |-
                    Exporters defines the exporters to configure on the selected ControlPlanes.
                    Untyped as we use the underlying OpenTelemetryOperator to configure the
                    OpenTelemetry collector's exporters. Use the OpenTelemetry Collector
                    documentation to configure the exporters.
                    Currently only supported exporters are push based exporters.
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              required:
                - controlPlaneSelector
                - exporters
              type: object
            status:
              description: SharedTelemetryConfigStatus represents the observed state of a SharedTelemetryConfig.
              properties:
                conditions:
                  description: Conditions of the resource.
                  items:
                    description: A Condition that may apply to a resource.
                    properties:
                      lastTransitionTime:
                        description: |-
                          LastTransitionTime is the last time this condition transitioned from one
                          status to another.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          A Message containing details about this condition's last transition from
                          one status to another, if any.
                        type: string
                      observedGeneration:
                        description: |-
                          ObservedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                          with respect to the current state of the instance.
                        format: int64
                        type: integer
                      reason:
                        description: A Reason for this condition's last transition from one status to another.
                        type: string
                      status:
                        description: Status of this condition; is it currently True, False, or Unknown?
                        type: string
                      type:
                        description: |-
                          Type of this condition. At most one of each condition type may apply to
                          a resource at any point in time.
                        type: string
                    required:
                      - lastTransitionTime
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - type
                  x-kubernetes-list-type: map
                failed:
                  description: list of provisioning failures.
                  items:
                    description: SharedTelemetryConfigProvisioningFailure defines configuration provisioning failure.
                    properties:
                      conditions:
                        description: Conditions of the resource.
                        items:
                          description: A Condition that may apply to a resource.
                          properties:
                            lastTransitionTime:
                              description: |-
                                LastTransitionTime is the last time this condition transitioned from one
                                status to another.
                              format: date-time
                              type: string
                            message:
                              description: |-
                                A Message containing details about this condition's last transition from
                                one status to another, if any.
                              type: string
                            observedGeneration:
                              description: |-
                                ObservedGeneration represents the .metadata.generation that the condition was set based upon.
                                For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                                with respect to the current state of the instance.
                              format: int64
                              type: integer
                            reason:
                              description: A Reason for this condition's last transition from one status to another.
                              type: string
                            status:
                              description: Status of this condition; is it currently True, False, or Unknown?
                              type: string
                            type:
                              description: |-
                                Type of this condition. At most one of each condition type may apply to
                                a resource at any point in time.
                              type: string
                          required:
                            - lastTransitionTime
                            - reason
                            - status
                            - type
                          type: object
                        type: array
                        x-kubernetes-list-map-keys:
                          - type
                        x-kubernetes-list-type: map
                      controlPlane:
                        description: ControlPlane name where the failure occurred.
                        type: string
                      observedGeneration:
                        description: |-
                          ObservedGeneration is the latest metadata.generation
                          which resulted in either a ready state, or stalled due to error
                          it can not recover from without human intervention.
                        format: int64
                        type: integer
                    required:
                      - controlPlane
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - controlPlane
                  x-kubernetes-list-type: map
                observedGeneration:
                  description: |-
                    ObservedGeneration is the latest metadata.generation
                    which resulted in either a ready state, or stalled due to error
                    it can not recover from without human intervention.
                  format: int64
                  type: integer
                provisioned:
                  description: List of successfully provisioned targets.
                  items:
                    type: string
                  type: array
                  x-kubernetes-list-type: set
                selectedControlPlanes:
                  description: SelectedControlPlanes represents the names of the selected ControlPlanes.
                  items:
                    type: string
                  type: array
                  x-kubernetes-list-type: set
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
      subresources:
        status: {}
