<div class="">
	<div class="content-title pb-4" id="content">{{.Title}}</div>
	{{ .Content }}
	{{ if eq .Page.Params.product "crds" }}


		  {{ if .Page.Params.state }}
			{{ partial "feature-state-alert" . }}
		  {{ end }}
		  {{ if .Page.Params.ga }}
			{{ partial "ga-tag" . }}
		  {{ end }}
		</div>
		<div id="crd-rows-container">
		<main class="bd-main">
				<div class="d-flex">
					{{ partial "body/version-dropdown-menu" . }}
				</div>
		</main>

		  {{ partial "body/crds" . }}
		</div>
	  </main>
	{{ else if .Page.IsSection }}
	  <ul>
		{{ range .Pages }}
		  {{ if not .Draft }}
			<li>
			  <a href="{{.Permalink}}">{{.Title}}</a>
			</li>
		  {{ end }}
		{{ end }}
	  </ul>
	{{ end }}
  </div>