<div id="top-nav" class="logo nav-logo-search sticky-top">

    <div class="logo-container">
        <a href="//www.upbound.io">
            <img loading="eager" src="" height="21" alt="Upbound Homepage" id="logoImage">
        </a>
    </div>
    
    <script>
        var logoColor = getComputedStyle(document.documentElement).getPropertyValue('--logo-color');
                
        // Set the image source dynamically
        document.getElementById("logoImage").src = logoColor;
    </script>
    

    {{ partialCached "body/search-panel" . }}

    {{ partialCached "body/darkmode" . }}

</div>
