{{ $rawOptions := .Get "options" }}
{{ $options := split ($rawOptions) "," }}
{{ $default := .Get "default" | default (index $options 0) }}
{{ $randomId := index (seq 2000 | shuffle) 0 }}

<div id="content-selector-{{ $randomId }}" class="content-selector" data-options="{{ $rawOptions }}" data-default="{{ $default }}">
  <ul class="nav nav-tabs content-select-buttons" id="{{$randomId}}" role="tablist">
    {{ range $options }}
      {{ $option := trim . " " }}
      <li class="nav-item">
        <button class="nav-link content-select-button {{if eq $option $default }} active {{ end }} me-3"
                type="button"
                role="tab"
                data-option="{{ $option }}"
                >{{ $option | title }}</button>
      </li>
    {{ end }}
  </ul>

  <div class="content-blocks">
    {{ $content := .Inner }}
    {{ range $options }}
      {{ $option := trim . " " }}
      {{ $optionContent := findRE (printf "(?s)<!-- %s -->.*?<!-- /%s -->" $option $option) $content }}
      <div class="content-block" data-option="{{ $option }}" {{ if ne $option $default }}style="display: none;"{{ end }}>
        {{ if $optionContent }}
          {{ range $optionContent }}
            {{ $cleaned := replaceRE (printf "<!-- %s -->|<!-- /%s -->" $option $option) "" . }}
            {{ $cleaned | markdownify }}
          {{ end }}
        {{ else }}
          <p>No content found for {{ $option }}</p>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>

<script>
  (function() {
    function initializeContentSelector(contentSelectorId) {
      const selector = document.getElementById(contentSelectorId);

      function updateVisibility(value) {
        const buttons = document.querySelectorAll('.content-select-button');
        const blocks = document.querySelectorAll('.content-block');

        buttons.forEach(button => {
          button.classList.toggle('active', button.dataset.option === value);
        });

        blocks.forEach(block => {
          block.style.display = block.dataset.option === value ? 'block' : 'none';
        });
      }

      function syncSelectors(value) {
        const options = selector.dataset.options.split(',');
        if (options.includes(value)) {
          updateVisibility(value);
        }
      }

      const buttons = selector.querySelectorAll('.content-select-button');
      const options = selector.dataset.options.split(',');
      const defaultOption = selector.dataset.default;

      buttons.forEach(button => {
        button.addEventListener('click', (event) => {
          const value = event.target.dataset.option;
          window.globalOption = value;
          syncSelectors(value);
        });
      });

      if (window.globalOption && options.includes(window.globalOption)) {
        updateVisibility(window.globalOption);
      } else if (!window.globalOption) {
        window.globalOption = defaultOption;
        updateVisibility(defaultOption);
      }
    }

    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', initializeContentSelector.bind(this, "content-selector-{{$randomId}}"));
    } else {
      initializeContentSelector("content-selector-{{ $randomId }}");
    }
  })();
</script>
