{{ $product := .Get "product" }}
{{ $relNotes := where .Site.RegularPages "File.Dir" "eq" "reference/rel-notes/" }}
{{ $releases := where $relNotes "Params.product" "eq" $product }}

{{ $sortedReleases := sort $releases "Params.version_sort_key" "desc" }}

<div class="release-notes-container">
    {{ range $sortedReleases }}
    <article class="release-note">
        <header>
            <h3 id="{{ .File.ContentBaseName }}">{{ .Title }}</h3>
            <p class="date"><strong>Release Date:</strong> {{ .Date.Format "2006-01-02" }}</p>
        </header>
        <div class="content">
            {{ .Content | markdownify }}
        </div>
    </article>
    {{ end }}
</div>
