{{ $product := .Get "product" }}
{{ $relNotesSpaces := where .Site.RegularPages "File.Dir" "eq" "all-spaces/release-notes/" }}
{{ $relNotesReference := where .Site.RegularPages "File.Dir" "eq" "reference/rel-notes/" }}
{{ $relNotesMCP := where .Site.RegularPages "File.Dir" "eq" "mcp/ctp-connector/release-notes/" }}
{{ $relNotes := $relNotesSpaces | append $relNotesReference | append $relNotesMCP }}
{{ $releases := where $relNotes "Params.product" "eq" $product }}

<div class="release-notes-container">
    {{ range sort $releases "Date" "desc" }}
    <article class="release-note">
        <header>
            <h3 id="{{ .File.ContentBaseName }}">{{ .Title }}</h3>
            <p class="date"><strong>Release Date:</strong> {{ .Date.Format "2006-01-02"
                }}</p>
        </header>
        <div class="content">
            {{ .Content | markdownify }}
        </div>
    </article>
    {{ end }}
</div>
