name: Run htmltest and validate links
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'src/**'
      - 'docusaurus.config.js'
  # Allows manual workflow run (must be in default branch to work)
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the docs repo
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          
      - name: Clean and install dependencies
        run: |
          rm -rf build node_modules package-lock.json
          npm install
        
      - name: Build Docusaurus site
        run: npm run build
        
      - name: Run htmltest
        uses: wjdp/htmltest-action@master
        with:
          config: .htmltest.yml
          path: build
