name: Run htmltest and validate links
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'src/**'
      - 'docusaurus.config.js'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the docs repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23'
          
      - name: Install dependencies
        run: npm ci
        
      - name: Build Docusaurus site
        run: npm run build
        
      - name: Run htmltest
        uses: wjdp/htmltest-action@master
        with:
          config: utils/htmltest/.htmltest.yml
          path: build
