---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.3
  name: spacebackupconfigs.admin.spaces.upbound.io
spec:
  group: admin.spaces.upbound.io
  names:
    categories:
    - spaces
    kind: SpaceBackupConfig
    listKind: SpaceBackupConfigList
    plural: spacebackupconfigs
    singular: spacebackupconfig
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.objectStorage.provider
      name: Provider
      type: string
    - jsonPath: .spec.objectStorage.bucket
      name: Bucket
      type: string
    - jsonPath: .spec.objectStorage.credentials.source
      name: Auth
      type: string
    - jsonPath: .metadata.annotations.spacebackupconfig\.admin\.internal\.spaces\.upbound\.io/secret
      name: Secret
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SpaceBackupConfig defines the configuration to backup a Space.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              A SpaceBackupConfigSpec represents the configuration to backup or restore
              a Space.
            properties:
              objectStorage:
                description: ObjectStorage specifies the object storage configuration
                  for the given provider.
                properties:
                  bucket:
                    description: Bucket is the name of the bucket to store backups
                      in.
                    minLength: 1
                    type: string
                  config:
                    description: |-
                      Config is a free-form map of configuration options for the object storage provider.
                      See https://github.com/thanos-io/objstore?tab=readme-ov-file for more
                      information on the formats for each supported cloud provider. Bucket and
                      Provider will override the required values in the config.
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                  credentials:
                    description: Credentials specifies the credentials to access the
                      object storage.
                    properties:
                      env:
                        description: |-
                          Env is a reference to an environment variable that contains credentials
                          that must be used to connect to the provider.
                        properties:
                          name:
                            description: Name is the name of an environment variable.
                            type: string
                        required:
                        - name
                        type: object
                      fs:
                        description: |-
                          Fs is a reference to a filesystem location that contains credentials that
                          must be used to connect to the provider.
                        properties:
                          path:
                            description: Path is a filesystem path.
                            type: string
                        required:
                        - path
                        type: object
                      secretRef:
                        description: |-
                          A SecretRef is a reference to a secret key that contains the credentials
                          that must be used to connect to the provider.
                        properties:
                          key:
                            default: credentials
                            description: The key to select.
                            type: string
                          name:
                            description: Name of the secret.
                            type: string
                          namespace:
                            description: Namespace of the secret.
                            type: string
                        required:
                        - key
                        - name
                        - namespace
                        type: object
                      source:
                        allOf:
                        - enum:
                          - Secret
                          - InjectedIdentity
                        - enum:
                          - Secret
                          - InjectedIdentity
                        description: |-
                          Source of the credentials.
                          Source "Secret" requires "get" permissions on the referenced Secret.
                        type: string
                    required:
                    - source
                    type: object
                    x-kubernetes-validations:
                    - message: secretRef.name and namespace must be set when source
                        is Secret
                      rule: self.source != 'Secret' || (has(self.secretRef) && has(self.secretRef.name)
                        && has(self.secretRef.__namespace__))
                  prefix:
                    description: |-
                      Prefix is the prefix to use for all backups using this
                      SharedBackupConfig, e.g. "prod/cluster1", resulting in backups for
                      controlplane "ctp1" in namespace "ns1" being stored in
                      "prod/cluster1/ns1/ctp1".
                    type: string
                  provider:
                    description: Provider is the name of the object storage provider.
                    enum:
                    - AWS
                    - Azure
                    - GCP
                    type: string
                required:
                - bucket
                - credentials
                - provider
                type: object
                x-kubernetes-validations:
                - message: credentials.secretRef.name must be set when source is Secret
                  rule: self.credentials.source != 'Secret' || (has(self.credentials.secretRef)
                    && has(self.credentials.secretRef.name))
            required:
            - objectStorage
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
